#scanbutton
{
    margin-top: -65px;
    margin-left: -1100px;
    text-align: center;
    width: 200px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #4ae3d4;
    background: transparent;
    cursor: pointer;
    position: relative;
    color: #fff;
}