<p>footer works!</p>
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-3 bg-image" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');height:300px;">
          </div>
    <!-- Background image -->
  
    <div class="card mx-2 mx-md-5 shadow-5-strong" style="margin-top: -100px;background: hsla(0, 0%, 100%, 0.958);backdrop-filter: blur(30px);">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4">
            <b><h2 class="fw-bold mb-5">Login Here..!</h2></b>
            <!-- <form [formGroup]="loginForm" > -->
              <!-- 2 column grid layout with text inputs for the first and last names -->
              
               
  
              <!-- Email input -->
              <div class="form-outline mb-3 sb-2">
                <b><label class="form-label" >User Name:</label></b>
                <input type="text"  class="form-control" formControlName="userName" />
                
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <b><label class="form-label" >Password:</label></b>
                <input type="password" id="form3Example4" class="form-control" formControlName="password"/>
                
              </div>
              <div>
              <!-- <input type="submit" class="btn btn-primary btn-block mb-4" (click)="onSubmitLogin()"  value="Login"> -->
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->